<!-- Main entry point -->
<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="./styles/index.css" />
</head>
<body ng-app="app" ng-controller="MainController">

<div class="main-container">
	<header>
		<div class="navbar">
			<div class="nav-list-container">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#work">Work</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</header>
<div id="main">
	<div ng-view class="content">
	</div>
</div>	
</div>
<!-- <footer>
	<img src="./img/node-icon.svg" width="100px" />
</footer> -->

<!-- Scripts/Plugins -->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script type="text/javascript" src="./scripts/app.js"></script>
</body>
</html>