<div class="about">
	<!-- <div class="about-img">
		<img src="./img/about-img.svg" alt="about image" />
	</div> -->
	<div class="section">
		<h2>What I Can Do</h2>
		<p>
			My most extensive experience has been fullstack development with Django/Python for Propagate Inc, an education technology startup specializing in vocabularly learning software.  Nowadays, my goto language is Python, however I'm more than willing to use whatever will fit the bill for whichever project I may be working on.  Some of my favorite technologies I use on a daily basis are Python, Angular, and Node.
		</p>
	</div>

	<div class="section">
		<h2>My Skills</h2>
	</div>

	<div id="resume">
		<img src="./img/resume.png">
	</div>
</div>