<div class="work">
<div class="portfolio-container">
	<div class="work-item-container">
		<!-- Level One -->
		<h2>Level One</h2>
		<p class="work-item-description">
			Level One seeks to be the open-source learning platform to help make online learning both successful, sustainable, and fun for people of all ages.  The current stack of the Level One project includes:  Python, Django, Postgres, Angular, and Heroku for deployment.  Due to recent security concerns the site has been taken down until they can be addressed.
		</p>

		<div class="work-item">
			<img src="./img/levelone_home_2.png" width="900px" />
			<p class="sub-section">
				The idea behind Level One is to leverage the developer community by first preparing students by giving them the tools to learn whatever they may want to learn.  Then at a later point in time, allow those students to start contributing to courses that are offered on level one.  The home page contains all current courses offerings and the student's current level.  Experience can be earned by completing lessons, courses, and competing with other students.  
			</p>
		</div>
		
		<div class="work-item">
			<img src="./img/levelone_courses.png" width="900px" />
			<p class="sub-section">
				This page shows all the current course offerings.  Courses are unlocked as the student progresses in his knowledge.  Alternatively, a student can test out of his current level to get access to some of the higher-level courses. 
			</p>
		</div>

		<div class="work-item">
			<img src="./img/levelone_courses_2.png" width="900px" />
			<p class="sub-section">
				One of the key features of Level One, is to allow students to suggest courses.  Being an open-source community all courses are currated based on user feedback, which provides a much better user experience.  
			</p>
		</div>

		<div class="work-item">
			<img src="./img/levelone_compete.png" width="900px" />
			<p class="sub-section">
				A key aspect of Level One is to foster competition among students.  This not only ensures motivation throughout, but also encourages better scores and concentration.  Competiting earns more points than any other feature, which allows the student to level up faster.  Currently all individual competitions are graded manually.  
			</p>
		</div>
		

		<div class="work-item">
			<img src="./img/levelone_beta.png" width="900px" />
			<p class="sub-section">
				Up to a certain point, a student can start to develop their own content using the beta course manager.  From there, the student can start to publish content to the beta course section.  From there, their content gets reviewed and revised by other developers.  And after a lenght of time, the course becomes live on the open courses section of the site.  
			</p>
		</div>

	</div>





	<div class="work-item-container">
			<!-- Tempus -->
			<h2>Tempus</h2>
			<p class="work-item-description">
				Tempus is a time-management application written in PHP that seeks to save small to mid-sized buisness owners time and money by tracking employee time logs, running analytics on the data, and aggregating said data into a excel friendly spreadsheet.  The final representation of the product was built using Linux, PHP, MySQL, Javascript, and D3 for visualizations.  Deployment/Hosting was done through x10 hosting.  
			</p>

			<div class="work-item">
				<img src="./img/home_page.png" width="900px" />
			</div>
			
			<div class="work-item">
				<img src="./img/timesheet.png" width="900px" />
				<p class="sub-section">
					The timesheet page is designed to have a similar interface to that of an old-fashioned clock-in/clock-out slot machine.  Users press start when they're ready to start working, and from the initial press, employee time is constantly tracked until they press stop.  Sessions are maintained through, even on logout.  
				</p>
			</div>

			<div class="work-item">
				<img src="./img/timesheet3.png" width="900px" />
				<p class="sub-section">
					After the initial phase, all timesheet data is collected into a pretty table by week.  From there the user can edit each section describing what they did on a particular day.  They can even run analytics to get the average hours worked over a certain week, or the highest day or lowest.  All data is automaticly sent to the employees manager.   
				</p>
			</div>

			<div class="work-item">
				<img src="./img/timesheet6.png" width="900px" />
			</div>
			

			<div class="work-item">
				<img src="./img/admin_page.png" width="900px" />
				<p class="sub-section">
					Managers and Executives can access the admin page to get a high-level view of each of their employees.  Live search is powered by ajax and PHP extension.  Managers can export all data into csv format, which is easily converted into an excel spreadsheet by Excel or Numbers(mac).
				</p>
			</div>

		</div>












	<div class="work-item-container">
			<!-- ARC -->
			<h2>Anthropology Research Center</h2>
			<p class="work-item-description">
				The ARC project was submitted to the Homind Project, a Penn State research initative that seeks to identify correlations between genome sequences and facial structure by studying the effects on chimps and mice skulls.  This project seeked to provide a means of data exchange between distributed research centers.  Key features include secure uploading and file sharing between various organizations.  
			</p>

			<div class="work-item">
				<img src="./img/421_home.png" width="900px" />
			</div>
			
			<div class="work-item">
				<img src="./img/421_upload.png" width="900px" />
				<p class="sub-section">
					The most important feature of the ARC project was secure file uploads.  This was done using several hashing algorithms designed to use a secure fingerprint for both the upload and publishing research material.  
				</p>
			</div>

			<div class="work-item">
				<img src="./img/421_total.png" width="900px" />
				<p class="sub-section">
					The data exchange is the means by which researchers can get access to whatever research data is shared among the organizations.  Accepted media types are all major image types, word docs, pdf, and excel or csv data.   
				</p>
			</div>

			<div class="work-item">
				<img src="./img/421_total2.png" width="900px" />
			</div>

		</div>











</div>

</div>