/* navigation */
html {
	background-color: #35ff59;
}
.nav-list-container li {
	display: inline;
}
.nav-list-container ul li a {
	text-decoration: none;
	list-style-type: none;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.5em;
}
.main-img {
	margin-top: -20px;
}

/* About Page */
.about-img {
	margin-top: -18px;
}
.section {
	margin-bottom: 30px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding: 25px;
	border-radius: 15px;
	color: black;
}
.section h2 {
	text-align: center;
	font-size: 3em;
	margin-top: 5px;
	margin-bottom: 15px;
}
.section article {
	line-height: 2.9em;
}
.section article a {
	color: #35ff59;
	text-decoration: none;
}

/* Portfolio Page */
.work {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
.work-item-container {
	margin-bottom: 110px;
}
.work-item-container h2 {
	font-size: 4em;
	text-align: center;
	color: white;
}
.work-item-description {
	font-size: 1.6em;
	line-height: 1.4em;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 50px;
	padding: 15px;
}
.work-item p {
	border-radius: 15px;
	margin-top: 2px;
	margin-bottom: 50px;
	background-color: white;
	padding: 15px;
}
/* github icon */
#github {
	position: fixed;
	top: 10px;
	right: 15px;
}
#github a img {
	height: 40px;
}
#linkedin {
	position: fixed;
	top: 10px;
	right: 60px;
}
#linkedin a img {
	height: 40px;
}



