/* navigation */
html {
	background-color: #35ff59;
}
.nav-list-container li {
	display: inline;
}
.nav-list-container ul li a {
	text-decoration: none;
	list-style-type: none;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.5em;
}
.main-img {
	margin-top: -20px;
}

/* About Page */
.about-img {
	margin-top: -18px;
}
.section {
	margin-bottom: 30px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding: 25px;
	border-radius: 15px;
	color: black;
}
.section h2 {
	text-align: center;
	font-size: 3em;
	margin-top: 5px;
	margin-bottom: 15px;
}
.section article {
	line-height: 2.9em;
}
.section article a {
	color: #35ff59;
	text-decoration: none;
}

/* Portfolio Page */
.work {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}



